.image-wrap {
  padding: 0 1em 0 0;

}
.content--center{
  font-size: $paragraph-size * 1.250;
  max-width: 800px;
  margin: 0 auto;
  p {
    padding-right: 1em;
    padding-left: 1em;
  }
}
#curve-bottom-intro, #curve-bottom-services, #curve-bottom-projects {
  width: 100%;
  position: relative;
  bottom: -5px;
  fill: $purple
}

.introduction {
  background-color: $white-smoke;
  background: $white-smoke;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  p {
    font-weight: $bold;
    &:first-of-type {
      font-size: $paragraph-size * 1.250;
    }
  }
  .headline, .sub-headline {
    text-align: center;
  }
  .headline {
    font-size: $header-size * 1.65;
    text-transform: uppercase;
  }
  .sub-headline {
    font-style: italic;
    letter-spacing: 0;
    color: $purple;
    font-size: $header-size * 1.188;
  }
  #curve-bottom-intro {
    fill: $purple
  }
  @media #{$lrg-mobile} {
    .headline {
      font-size: $header-size * 1.063;
    }
    .sub-headline {
      font-size: $header-size / 1.125;
    }
  }
  @media #{$mid-mobile} {
    .headline {
      font-size: $header-size / 1.063;
    }
    .sub-headline {
      font-size: $header-size / 1.250;
    }
  }
  @media #{$mobile} {
    .headline {
      font-size: $header-size / 1.188;
    }
    .sub-headline {
      font-size: $header-size / 1.375;
    }
  }
  @media #{$sm-mobile} {
    .headline {
      font-size: $header-size / 1.250;
    }
    .sub-headline {
      font-size: $header-size / 1.5;
    }
  }
}
.services {
  background: $purple;
  background-color: $purple;
  text-align: center;
  width: 100%;
  z-index: 1;
  h1, h2 {
    text-align: center;
  }
  h4 {
    color: $white;
    letter-spacing: 0;
  }
  p {
    color: $white;
  }

  #curve-bottom-services {
    fill: $white-smoke;
  }
  .icon {
      max-width: 210px;
      .icon-white {
        fill: $white;
      }
      .icon-orange {
        fill: $light-orange;
      }
  }
}
.projects {
  width: 100%;
  h1, h2, h3, h4 {
    text-align: center;
  }
  h3, h4 {
    letter-spacing: 0;
    color: $purple;
  }
  #curve-bottom-projects {
    fill: $red;
  }
}
.contacts {
  width: 100%;
  background: $red;
  background-color: $red;
  z-index: 1;
  h1, h2 {
    color: $white;
  }
  p {
    color: $white;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: lighten($orange, 25%);
      text-decoration: none;
    }
    &:active {
      color: $grey;
    }
  }
  svg, .icon {
    display: inline;
    position: relative;
    max-width: 21px;
    margin: 0 6px 0 0;
    top: 5px;
  }
  .content {
    padding-top: 0;
    padding-right: 2em;
    padding-bottom: 0;
    padding-left: 0;
    z-index: 2;
  }
  .image-wrap {
    img {
      z-index: 2;
    }
  }
  @media #{$mid-mobile} {
    .content {
      padding-right: 0;
    }
    .phone-numbers {
      a {
        &:last-of-type {
          display: block;
          margin-left: 30px;
        }
      }
    }
  }

  // @media #{$mobile} {
  //   .content {
  //     padding-right: 0;
  //   }
  //   .phone-numbers {
  //     a {
  //       &:last-of-type {
  //         display: block;
  //         margin-left: 30px;
  //       }
  //     }
  //   }
  // }
}

@media #{$tablet} {
  .image-wrap, .content {
    width: 100%;
  }
}
@media #{$lrg-mobile} {
  .image-wrap {
    padding: 0;
  }
  .content {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

  }
}
// @media #{$mobile} {
//   .contacts {
//
//   }
// }
