.image-wrap {
  padding: 0 1em 0 0;
}
#curve-bottom-intro, #curve-bottom-services, #curve-bottom-projects {
  width: 100%;
  position: relative;
  bottom: -5px;
  fill: $purple
}

.introduction {
  background-color: $white-smoke;
  background: $white-smoke;

  p {
    font-weight: $bold;
    &:first-of-type {
      font-size: $paragraph-size * 1.250;
    }
  }
  .headline, .sub-headline {
    text-align: center;
  }
  .headline {
    font-size: $header-size * 1.65;
    text-transform: uppercase;
  }
  .sub-headline {
    font-style: italic;
    letter-spacing: 0;
    color: $purple;
    font-size: $header-size * 1.188;
  }
  #curve-bottom-intro {
    fill: $purple
  }
  @media #{$lrg-mobile} {
    .headline {
      font-size: $header-size * 1.063;
    }
    .sub-headline {
      font-size: $header-size / 1.125;
    }
  }
  @media #{$mid-mobile} {
    .headline {
      font-size: $header-size / 1.063;
    }
    .sub-headline {
      font-size: $header-size / 1.250;
    }
  }
  @media #{$mobile} {
    .headline {
      font-size: $header-size / 1.188;
    }
    .sub-headline {
      font-size: $header-size / 1.375;
    }
  }
  @media #{$sm-mobile} {
    .headline {
      font-size: $header-size / 1.250;
    }
    .sub-headline {
      font-size: $header-size / 1.5;
    }
  }
}
.services {
  background: $purple;
  background-color: $purple;
  text-align: center;
  h1, h2 {
    text-align: center;
  }
  h4 {
    color: $white;
    letter-spacing: 0;
  }
  p {
    color: $white;
  }
  .content--center{
    font-size: $paragraph-size * 1.250;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media #{$tablet} {
  .image-wrap, .content {
    width: 100%;
  }
}
@media #{$lrg-mobile} {
  .image-wrap {
    padding: 0;
  }
  .content {
    padding-top: 0;
  }
}
