header {
  background-color: $white;
  z-index: 5;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 1.3;

  img {
    display: inline-block;
    margin-bottom: 0;
  }

  .wrapper {
    width: 90%;
    padding: 0 1em;
    margin: 0 auto;
  }

  .logo {
    img, svg {
      max-width: 210px;
      margin-top: $paragraph-margin / 2;
    }
  }

  .header__nav {
    float: right;
    display: inline-block;
    padding-top: $paragraph-margin * 1.75;
    a {
      margin-right: $paragraph-size / 1.25;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

@media #{$laptop} {
  .wrapper {
    width: 92%;
    padding: 0;
  }
}

  @media #{$lrg-mobile} {
    .wrapper {
      text-align: center;
    }
    .logo {
      img {
        max-width: 130px;
      }
    }
    .header__nav {
      display: block;
      float: none;
      padding-top: 0;
      padding-bottom: $paragraph-margin / 2;
      a {
        text-align: center;
        font-size: $paragraph-size / 1.063;
      }
    }
  }

  @media #{$mid-mobile} {
    .wrapper {
      padding: 0;
    }
    .header__nav {
      a {
        text-align: center;
        font-size: $paragraph-size / 1.250;
      }
    }
  }
  @media #{$mobile} {
    .header__nav {
      a {
        margin-right: $paragraph-size / 2;
      }
    }
  }
}
