header {
  background-color: $white;
  z-index: 5;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 1.3;

  img {
    display: inline-block;
    margin-bottom: 0;
  }


  .wrapper {
    width: 90%;
    padding: 0 1em;
    margin: 0 auto;
  }

  .logo {
    margin-left: $paragraph-margin / 6;
    img, svg {
      max-width: 210px;
      margin-top: $paragraph-margin / 2;
      -webkit-transition: max-width 0.2s ease-in-out;
      transition: max-width 0.2s ease-in-out;
    }
  }

  .header__nav {
    float: right;
    display: inline-block;
    padding-top: $paragraph-margin * 1.75;
    a {
      font-weight: $heavy;
      letter-spacing: 1px;
      margin-right: $paragraph-size / 1.25;

      &:last-of-type {
        margin-right: $paragraph-size ;
      }
    }
  }
  .active  {
    // color: $orange;
    color: darken($orange, 5%);
    &:first-of-type {
      // color: $link-color; //hides active state
    }
  }

  @media #{$laptop} {
    .wrapper {
      width: 92%;
      padding: 0;
    }
  }

  @media #{$lrg-mobile} {
    .wrapper {
      text-align: center;
    }
    .logo {
      img, svg  {
        max-width: 130px;
      }
    }
    .header__nav {
      display: block;
      float: none;
      padding-top: 0;
      padding-bottom: $paragraph-margin / 2;
      a {
        text-align: center;
        font-size: $paragraph-size / 1.063;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  @media #{$mid-mobile} {
    .wrapper {
      padding: 0;
    }
    .header__nav {
      a {
        text-align: center;
        font-size: $paragraph-size / 1.250;
      }
    }
  }
  @media #{$mobile} {
    .header__nav {
      a {
        letter-spacing: 0;
        margin-right: $paragraph-size / 2;
      }
    }
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0;
  @include box-shadow(1px, 1px, 3px, 1px, rgba(50, 50, 50, 0.65));
  .logo {
    img, svg {
      max-width: 120px;
      -webkit-transition: max-width 0.2s ease-in-out;
      transition: max-width 0.2s ease-in-out;
    }
  }
  .header__nav {
    padding-top: $paragraph-margin;
  }
  @media #{$lrg-mobile} {
    padding-top: 0.563em;
    .logo {
      display: none;
    }
    .header__nav {
      padding-top: 0;
    }
  }
}
